* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: sans-serif;
}
/* header section  */
.header {
   background-color: #e5e7eb;
   padding: 5px 0;
}
.header .phone,
.email,
.login a,
.reg a {
   font-size: 14px;
   color: #1f2937;
   text-decoration: none;
}
.header .fa-solid {
   font-size: 14px;
   color: #6cc118;
}
/* navbar section  */
.navbar {
   background-color: #0551af;
   padding: 8px 0;
}
.navbar .navbar-nav .nav-item .nav-link {
   color: #fff;
   font-size: 1rem;
   padding: 0 12px;
}
.navbar .bitm-logo img {
   width: 100px;
}
.navbar .basis-logo img {
   width: 120px;
}
.navbar .navbar-toggler {
   box-shadow: none;
   border: none;
}
.navbar .navbar-toggler .bi {
   font-size: 32px;
   color: #e5e7eb;
}
/* hover effacted  border top navlink  */
.navbar-nav .nav-item {
   position: relative;
}
.hover-navlink .nav-item::after {
   content: "";
   height: 4px;
   width: 0;
   background-color: #6cc118;
   position: absolute;
   left: 0;
   top: -30px;
   transition: 0;
}
.hover-navlink .nav-item:hover::after {
   width: 100%;
   transition: 0.5s;
   border-radius: 8px;
}
/* hover show dropdown item  */
.navbar .dropdown:hover .dropdown-menu {
   display: block;
}
.navbar .dropdown-menu-bg {
   border: 1px solid rgba(108, 193, 24, 0.522);
   border-top: 4px solid #6cc118;
}
.navbar .dropdown-menu-bg li .dropdown-item:hover {
   background-color: #6cc118;
   border-radius: 4px;
   color: #fff;
}
/* carousel section  */
.carousel .carousel-inner .carousel-item img {
   filter: brightness(70%);
}
/* main section  */
/* title section  */
.section-title h5 {
   color: #6cc118;
   font-size: 1rem;
   font-weight: bold;
}
.section-title h2 {
   color: #6cc118;
   font-weight: bold;
   font-size: 1.875rem;
   line-height: 0.8;
}
/* select online offline courses */
.select-onl-off {
   font-size: 1.25rem;
}
 /* carousel card  section */
 .carousel-card {
   border: 1px solid #6cc1186f;
 }
 .carousel-card:hover{
   border: 1px solid #6cc118;
 }
 .carousel-card .card-text{
   font-size: 12px;
   font-weight: bold;
   color: #254a7a;
 }
 .carousel-card .card-text img{
   width: 28px;
   height: 28px;
   border: 1px solid #6cc118;
   border-radius: 50%;
   padding: 4px;
   margin-right: 10px;
 }
/* card section  */
.details {
   text-decoration: none;
}
.my-card {
   padding-bottom: 0 !important;
   margin-bottom: 0 !important;
}
.my-card .card-body .card-title {
   color: #000;
   font-size: 1rem;
}
.my-card .card-body .date-time {
   display: flex;
   flex-direction: column;
   line-height: 1.9;
   font-size: 14px;
   color: #6b7280;
}
.my-card .card-body .date-time .bi {
   color: #6cc118;
   margin-right: 6px;
}

.my-card .card-footer {
   background-color: #e2e8f0;
   border: none;
}
.my-card .card-footer .tk {
   color: #0551ac;
   font-size: 1rem;
   font-weight: 600;
}
.my-card .card-footer .button {
   border: 0;
   background-color: #0551ac;
   color: #fff;
   padding: 6px;
   border-radius: 4px;
   font-size: 14px;
   min-width: 90px;
}
/* card hover effacted */
.my-card {
   transition: transform 0.5s;
}
.my-card:hover {
   transform: scale(1.1);
   border: 1px solid #6cc118;
}
/* card title 3 line show  */
.text-overflow-ellipsis {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
/* media query section  */
@media screen and (max-width: 991px) {
   /* navbar bitm logo size decrease */
   .navbar .bitm-logo img {
      width: 70px;
   }
   /* navbar logo and toggler position changing */
   .navbar .container {
      position: relative;
      height: 45px;
   }
   .navbar .container .navbar-toggler {
      position: absolute;
      left: 12px;
   }
   .navbar .container .bitm-logo {
      position: absolute;
      right: 0;
      margin-right: 12px;
   }
   /* title section font size decrease */
   .section-title h5 {
      font-size: 14px;
   }
   .section-title h2 {
      font-size: 20px;
   }
   /* card footer button width 100% small device */
   .my-card .card-footer .button {
      width: 100%;
   }
}
