* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: sans-serif;
}
/* header section  */
.header {
   background-color: #e5e7eb;
   padding: 5px 0;
}
.header .phone,
.email,
.login a,
.reg a {
   font-size: 14px;
   color: #1f2937;
   text-decoration: none;
}
.header .fa-solid {
   font-size: 14px;
   color: #6cc118;
}
/* navbar section  */
.navbar {
   background-color: #0551af;
   padding: 4px 0;
}
.navbar .navbar-nav .nav-item .nav-link {
   color: #fff;
   font-size: 1rem;
   padding: 0 12px;
}
.navbar .bitm-logo img {
   width: 100px;
}
.navbar .basis-logo img {
   width: 120px;
}
.navbar .navbar-toggler {
   box-shadow: none;
   border: none;
}
.navbar .navbar-toggler .bi {
   font-size: 32px;
   color: #e5e7eb;
}
/* hover effacted  border top navlink  */
.navbar-nav .nav-item {
   position: relative;
}
.hover-navlink .nav-item::after {
   content: "";
   height: 4px;
   width: 0;
   background-color: #6cc118;
   position: absolute;
   left: 0;
   top: -30px;
   transition: 0;
}
.hover-navlink .nav-item:hover::after {
   width: 100%;
   transition: 0.5s;
   border-radius: 8px;
}
/* hover show dropdown item  */
.navbar .dropdown:hover .dropdown-menu {
   display: block;
}
.navbar .dropdown-menu-bg {
   border: 1px solid rgba(108, 193, 24, 0.522);
   border-top: 4px solid #6cc118;
}
.dropdown-menu-bg li .dropdown-item:hover {
   background-color: #6cc118;
   border-radius: 4px;
   color: #fff;
}
/* carousel section  */
.carousel .carousel-inner .carousel-item img {
   filter: brightness(70%);
}
/* main section  */
/* title section  */
.section-title h5 {
   color: #6cc118;
   font-size: 1rem;
   font-weight: bold;
}
.section-title h2 {
   color: #6cc118;
   font-weight: bold;
   font-size: 1.875rem;
   line-height: 0.8;
}
/* select online offline courses */
.select-onl-off {
   font-size: 1.25rem;
}
/* carousel card  section */
.carousel-card {
   border: 1px solid #6cc1186f;
}
.carousel-card:hover {
   border: 1px solid #6cc118;
}
.carousel-card .card-text {
   font-size: 12px;
   font-weight: bold;
   color: #254a7a;
}
.carousel-card .card-text img {
   width: 28px;
   height: 28px;
   border: 1px solid #6cc118;
   border-radius: 50%;
   padding: 4px;
   margin-right: 10px;
}
/* card section  */
.details {
   text-decoration: none;
}
.my-card {
   padding-bottom: 0 !important;
   margin-bottom: 0 !important;
}
.my-card .card-body .card-title {
   color: #000;
   font-size: 1rem;
}
.my-card .card-body .date-time {
   display: flex;
   flex-direction: column;
   line-height: 1.9;
   font-size: 14px;
   color: #6b7280;
}
.my-card .card-body .date-time .bi {
   color: #6cc118;
   margin-right: 6px;
}

.my-card .card-footer {
   background-color: #e2e8f0;
   border: none;
}
.my-card .card-footer .tk {
   color: #0551ac;
   font-size: 1rem;
   font-weight: 600;
}
.my-card .card-footer .button {
   border: 0;
   background-color: #0551ac;
   color: #fff;
   padding: 6px;
   border-radius: 4px;
   font-size: 14px;
   min-width: 90px;
}
/* card hover effacted */
.my-card {
   transition: transform 0.5s;
}
.my-card:hover {
   transform: scale(1.1);
   border: 1px solid #6cc118;
}
/* card title 3 line show  */
.text-overflow-ellipsis {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
/* about section  */
.about {
   background-color: #f8feea;
}
.about img {
   max-height: 500px;
   border-radius: 6px;
}
.about-para {
   text-align: justify;
   font-family: sans-serif;
   font-size: 1rem;
}
.know-more button {
   background-color: #6cc118;
   border: 1px solid #6cc118;
   padding: 4px 20px;
}
.know-more button a {
   color: #fff;
   text-decoration: none;
   font-size: 14px;
}
.know-more button:hover {
   background-color: #5aa80c;
}
/* about card section  */
.about-card .info {
   font-size: 30px;
   font-family: sans-serif;
   color: #1f2937;
   line-height: 1.2;
   padding: 0;
   margin: 0;
   font-weight: 600;
}
.about-card .info-title {
   font-size: 14px;
   font-family: sans-serif;
   color: #6b7280;
   font-weight: 600;
}
.about-card {
   border: 0;
   border-right: 4px solid #6cc118 !important;
   cursor: pointer;
   transition: transform 0.5s;
}
.about-card:hover {
   transform: scale(1.1);
}
/* partners section  */
.partners .card-size {
   width: 222px;
   height: 124px;
}
/* footer section  */
.footer {
   background-color: #0551ac;
   padding-top: 32px;
   padding-bottom: 16px;
}
.footer .footer-logo {
   width: 144px;
   height: 108px;
   padding: 8px 12px;
}
.footer .footer-icon {
   width: 32px;
   height: 32px;
   border: 1px solid #fff;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer .footer-icon a {
   text-decoration: none;
   color: #fff;
}
.footer .footer-icon:hover {
   background-color: rgba(108, 193, 24, 0.5);
   color: #fff;
}
.footer .footer-heading {
   color: #fff;
   font-size: 1.25rem;
}
.footer .nav-item .nav-link {
   color: #fff;
   font-size: 1rem;
}
.footer .nav-item .nav-link:hover {
   color: #6cc118;
}
.footer .collaboration {
   margin-top: 16px;
   border-radius: 3px;
   background: linear-gradient();
}
/* ------------------------------------------ */
/* -------page section--------*/
.page-title {
   background-color: #f8fafc;
   border: 0.5px solid #f1f2f4;
}
.page-title .page-title-text {
   font-size: 20px;
   color: #6cc118;
   text-align: center;
   font-weight: 600;
}
/* about page  */
.about-page .about-poster {
   width: 33%;
   border: 4px solid #fff;
   border-radius: 10px;
}
.about-page .size-16 {
   text-align: justify;
   color: #1f2937;
   font-size: 1rem;
   line-height: 1.5;
   margin: 0;
}
.about-page .size-14 {
   text-align: justify;
   color: #1f2937;
   font-size: 14px;
   line-height: 1.5;
   margin: 0;
}
/* BITM Secretariats section  */
.secretariats-card .img-bg-color {
   background-color: #ecfccb;
}
.secretariats-card .img-bg-color img {
   width: 135px;
   height: 135px;
   border-radius: 50%;
}
.secretariats-card .card-title {
   color: #6cc118;
   font-size: 18px;
}
.secretariats-card .position {
   color: #1f2937;
   font-size: 16px;
   font-weight: 600;
}
.secretariats-card .contact {
   font-size: 14px;
   color: #1f2937;
}
.secretariats-card .contact .fa-solid {
   color: #0551ac;
   margin-right: 4px;
}
.secretariats-card .card-footer {
   background-color: #f1f5f9;
   padding: 8px 0;
}
.secretariats-card .footer-icon {
   width: 32px;
   height: 32px;
   border: 1px solid #d9e4ed;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0551ac;
}
.secretariats-card .footer-icon:hover {
   background-color: #0551ac;
   color: #fff;
}
.secretariats-card .follow {
   font-size: 16px;
   font-weight: bold;
   color: #4b5563;
}
/* career page  */
.career .title{
   font-size: 24px;
   color: #1d4ed8;
   font-weight: 600;
}
.career .career-text-color{
   font-size: 16px;
   color: #4b5563;
}
.career .title-section{
   font-size: 20px;
   color: #374a51;
   font-weight: bold;
}
/* Terms & Conditions pages */
.conditions p{
   font-size: 16px;
   color: #111;
   text-align: justify;
}

/* media query section  */
@media screen and (max-width: 991px) {
   /* navbar bitm logo size decrease */
   .navbar .bitm-logo img {
      width: 70px;
   }
   /* navbar logo and toggler position changing */
   .navbar .container {
      position: relative;
      height: 45px;
   }
   .navbar .container .navbar-toggler {
      position: absolute;
      left: 12px;
   }
   .navbar .container .bitm-logo {
      position: absolute;
      right: 0;
      margin-right: 12px;
   }
   /* title section font size decrease */
   .section-title h5 {
      font-size: 14px;
   }
   .section-title h2 {
      font-size: 20px;
   }
   /* card footer button width 100% small device */
   .my-card .card-footer .button {
      width: 100%;
   }
   /* small device text overflow abou section paragraph */
   .text-overflow-about {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
   }
   /* about card section text responsive */
   .about-card .info {
      font-size: 23px;
      font-family: sans-serif;
      color: #1f2937;
      line-height: 1.2;
      padding: 0;
      margin: 0;
      font-weight: 600;
   }
   .about-card .info-title {
      font-size: 12px;
      font-family: sans-serif;
      color: #6b7280;
      font-weight: 600;
   }
   /* about page images */
   .about-page .about-poster {
      width: 100%;
   }
}
